* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background { 
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}
.background td { 
  padding: 0;
}
.lava { 
  background: rgb(255, 100, 100); 
}
.wall { 
  background: white;             
}

.actor { 
  position: absolute;            
}
.coin { 
  background: rgb(241, 229, 89); 
  border: 1px solid black;
  border-radius: 50%;
}
.player { 
  background: rgb(212, 255, 0);   
  border-radius: 5px;
}

.lost .player {
  background: rgb(52, 52, 52);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 100%;
  max-height: auto;
  position: absolute;
}